body, html{
    margin: 0;
    background: #21b7f2;
}
body {
    padding: 1rem;
    vertical-align: middle;
    font: 16px serif;
}
.registro ul{
    list-style: none;
    list-style-position: inside;
    vertical-align: top;
    padding-left: 0;
    margin-top: 0;
}
.registro * {
/*    border: 1px solid red;*/
}
label{
    position: relative;
    display: inline-block;
    width: 10em;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}
li input{
    background: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 175px;
}
li input:required:valid{
    border-color: #1cb700;
    box-shadow: 0px 0px 5px #1cb700;
}
li input:required:invalid{
    border-color: red;
    box-shadow: 0px 0px 5px red;
}
li input:required:focus:invalid{
    border-color: darkcyan;
    box-shadow: 0 0 5px darkcyan;
}
li input:required:focus:valid{
    border-color: #1cb700;
    box-shadow: 0 0 5px #1cb700;
}
canvas{
    background: white;
    display: none;
}
.registro{
    background: #21b7f2;
    text-align: center;
    max-width: 27rem;
    min-height: 18rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0;
    padding-top: 0;
    margin: auto auto;
    margin-top:calc(50vh - 12rem);
    box-shadow: 0 10px 20px;
    animation: 0.5s cubic-bezier(.18,.89,.49,1.47) 0s revelar;
}
.req{
    color: red;
    font-weight: bolder;
}

@keyframes revelar{
    0%{
        opacity: 0;
        margin-top: calc(50vh - 7rem);
    }
    100%{
        opacity: 1;
        margin-top: calc(50vh - 12rem);
    }
}

.registro h1{
    background: linear-gradient(#21b7f2, #1fa7dd);
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;   
}

.registro button{
    background: #ffffff;
    color: black;
    /*! background: #e6fb5b; */
    padding: 5px;
    width: 50%;
    border: #d7f800 2px solid;
    border-radius: 5px;    
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.25s ease-out;
    transition: box-shadow 0;
}
.registro button:hover , .registro button:focus{
    background: #d7f800;
}

.registro button:active{
    box-shadow: 0 3px 3px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul li{
    line-height: 0;
}

a:visited{
    color: #222222;
}