html, body{
    margin:0;
    padding: 10px;
    font-family: "Open Sans", Helvetica;
}

body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h1, h2, h3{
    font-family: "Raleway";
    font-weight: 300;
}

header{
    text-align: center;
}